@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --text-color: #22343D;
    --text-color2: #02897A;
}

.contianer {
    max-width: 1400px;
    margin: auto;

    header {
        width: 100%;
        height: 80px;
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        padding: 10px;
        position: sticky;
        top: 0;
        padding: 0 100px;


        .logo {
            display: flex;
            align-items: center;
            gap: 15px;
            color: #173A56;

            i {
                font-size: 35px;
                display: none;
            }
        }

        .header-links {
            display: flex;
            align-items: center;
            gap: 25px;

            ul {
                display: flex;
                list-style: none;
                gap: 25px;

                li {
                    a {
                        font-weight: 500;
                        text-decoration: none;
                        color: var(--text-color);

                    }

                    a:hover {
                        font-weight: 600;
                    }
                }
            }

            button {
                width: 110px;
                height: 43px;
                font-size: 16px;
                font-weight: 600;
                border: none;
                border: 1px solid rgb(116, 116, 116);
                background: none;
                border-radius: 6px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: #173A56;
                }

            }

            .header-btn2 {
                background: #02897A;
                border: 0px solid;

                a {
                    color: #fff;
                }
            }
        }
    }

    main {
        padding: 0 100px;

        .section1 {
            display: flex;
            align-items: center;

            .work {
                width: 50%;
                display: flex;
                flex-direction: column;


                h1 {
                    font-size: 40px;
                    font-weight: 700;
                    color: var(--text-color);
                    max-width: 500px;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    max-width: 458px;
                    margin: 18px 0 48px;
                }

                .get-started-btns {
                    display: flex;
                    align-items: center;

                    button {
                        width: 175px;
                        height: 53px;
                        margin-right: 30px;
                        font-size: 16px;
                        font-weight: 700;
                        background: var(--text-color2);
                        border: none;
                        color: #fff;
                        border-radius: 5px;
                    }

                    a {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        display: flex;
                        color: var(--text-color2);
                    }

                    i {
                        font-size: 30px;
                        color: var(--text-color2)
                    }
                }
            }

            img {
                width: 50%;
            }
        }

        .section2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;

            h1 {
                font-size: 32px;
                font-weight: 700;
                max-width: 529px;
                text-align: center;
                color: var(--text-color);
            }

            .products-cards {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 66px 0 34px;

                .product-card {
                    width: 240px;
                    height: 178px;

                    h2 {
                        font-size: 22px;
                        font-weight: 600;
                        color: var(--text-color)
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        color: var(--text-color)
                    }
                }
            }

            button {
                width: 170px;
                height: 53px;
                font-size: 16px;
                font-weight: 700;
                border: none;
                background-color: var(--text-color2);
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        .section3 {
            margin-top: 180px;
            display: flex;
            flex-direction: column;
            gap: 150px;

            .management {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .management-text {
                    width: 50%;
                    color: var(--text-color);

                    b {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    h1 {
                        font-size: 32px;
                        font-weight: 700;
                        margin: 15px 0 20px;

                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        max-width: 486px;

                    }

                    div {
                        margin-top: 30px;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .custom-text {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            
                            p{
                                max-width: 365px;
                            }

                            img {
                                width: 35px;
                            }
                        }
                    }
                }

                img {
                    width: 50%;
                }
            }

        }
    }
}

@import './responsive';